@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


/* Application layout wrapper */
.App-layout{
    display: block;
    margin: auto;
    padding-top: 0.2rem ;
    width: 60%;
    height: 100%;
    
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(139, 126, 126); */
}


/* .Overlay{
  left:0;
  bottom: 0; */
  /* background-color: #843de8; */
  /* position: absolute;
  z-index: 100;
  height: 100vh;
  width: 100vw;
} */

/* Header bar */

.Header-bar{
  display: flex;
  justify-content: space-between;
  /* background-color: #843de8; */
  align-items: center;
    /* font-family: 'Roboto', sans-serif; */
  /* background-color: aliceblue; */
}

@media only screen and (max-width: 580px) {
  .Header-bar{
    display: flex;
    flex-direction: column;
  }
}

.Header-bar h1{
font-size: 3.5rem;
}

.Header-bar .Customization{
display: flex;
align-items: center;
cursor: pointer;

}

.Header-bar .Customization p {
  margin-right: 1rem;
  /* text-decoration: underline; */
  font-weight: 600;
}


.Header-bar .Customization .customization-arrow{

cursor: pointer;
position: relative;
}





.Close-menu{
  display: flex;
}

.Header-bar .Customization .customization-arrow .Menu{
  display: none;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right:0;
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  padding: 1rem;
  background-color: #ffffff;
  width: max-content;
 
}


.Customization:hover .Menu{
  display: block !important;
}

.Menu li {
  /* Spacing */
  padding: 8px;

  /* Used to position the sub dropdown */
  position: relative;
}

/* The sub dropdown */
.Menu ul {
  /* Border */
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  padding: 1rem;
  background-color: #ffffff;;

  /* Hidden by default */
  display: none;

  /* Absolute position */
  right: 100%;
  position: absolute;
  top: 0;

  /* Reset styles */
  list-style-type: none;
  margin: 0;
  padding: 0;

  /* Width */
  width: 8rem;
}



@media only screen and (max-width: 580px) {
  .Menu ul {
/* Border */
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  padding: 1rem;
  background-color: #fcf5f5;;

  /* Hidden by default */
  display: none;

  /* Absolute position */
left: 50%;
right: 50%;
  position: absolute;
  top: 0;

  /* Reset styles */
  list-style-type: none;
  margin: 0;
  padding: 0;

  /* Width */
  width: 8rem;
    
  }
}


/* Change background color of list item when being hovered */
.Menu li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Show the direct sub dropdown when hovering the list item */
.Menu li:hover > ul {
  display: block;
}

.Menu-item{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Menu-item label{
  margin-right: 1rem;
}

.Menu li input{
width: 100%;
border: 1px solid rgb(81, 81, 81);
border-radius: 0.1rem;
}





/* Promt text input form */
.Input-text-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: space-between; */
    /* background-color: aquamarine; */
    
}

.Input-text-wrapper label{
    font-size: 2vmin;
  font-weight: 600;
  padding-bottom: 1rem;  
}


.Input-text-wrapper textarea{
   border-radius: 0.3rem;
   min-height: 30vh;
   /*Learned something new about resizing, i was using max width */
    resize: vertical;
   padding: 0.5rem;
  }


.Submit-input-wrapper{
display: flex;

justify-content: space-between;
padding-top: 0.5rem;
/* text-align: center; */
width: 100%;
}

.Submit-input-wrapper .Parameters{
  width: 70%;
  display: flex;
  
}

.Submit-input-wrapper .Parameters .Parameters-item{

  display: flex;

  width: 100%;
  /* align-items: center; */

}

.Submit-input-wrapper .Parameters .Parameters-item p{
 margin-right: 0.4rem;
 margin: 0;
    padding: 0;

}
/* .Submit-input-wrapper .Parameters b{
  display: inline-block;
 
 } */


 @media only screen and (max-width: 1154px) {
  .Submit-input-wrapper .Parameters{
    width: 80%;
    display: flex;
  }
  }



  @media only screen and (max-width: 1010px) {
    .Submit-input-wrapper .Parameters{
      width: 90%;
      display: flex;
    }
    }

    @media only screen and (max-width: 970px) {
      .Submit-input-wrapper .Parameters{
        
        display: none;
      }

      .Submit-input-wrapper{
        justify-content: flex-end;
        }
      }
  

 @media only screen and (max-width: 514px) {
  .Submit-input-wrapper .Parameters{
    display: none;}
}



.Submit-input-wrapper button {
    
background: none;
background-color: #6200ee;
color: white;
border: none;
border-radius: 0.2rem;
width: 5rem;
height: 3rem;
font-size: 1rem;
cursor: pointer;
}

.Submit-input-wrapper button:hover{
    background-color: #843de8;
}


/* Response bar and list  */


.Response-bar-heading{
    display: flex;
    align-items: center;
    /* background-color: aliceblue; */
}
.Response-bar-heading h4{
    display: block;
    margin-right: 3rem;
    font-size: 1.5rem;
}

.Response-bar-heading .dot-typing {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
    animation: dotTyping 1.5s infinite linear;
  }

  @keyframes dotTyping {
    0% {
      box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
    }
    16.667% {
      box-shadow: 9984px -10px 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
    }
    33.333% {
      box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
    }
    50% {
      box-shadow: 9984px 0 0 0 #9880ff, 9999px -10px 0 0 #9880ff, 10014px 0 0 0 #9880ff;
    }
    66.667% {
      box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
    }
    83.333% {
      box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px -10px 0 0 #9880ff;
    }
    100% {
      box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
    }
  }




.Response-bar ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
    width: 100%;

}

.Response-bar ul li{
  position: relative;
    margin-top: 1rem;
    background-color: rgb(238, 238, 238);
    border-radius: 0.3rem;
    padding-left : 1rem;
}

.comin-in-hot{
    animation: comefromtop 0.5s;
}

.move-down{
    animation: pushdown 0.5s;
}


@keyframes comefromtop {
    0%   { opacity:0; transform: translateY(-25%); }
    100% { opacity:1; transform: translateY(0px);   }
  }

  
  @keyframes pushdown {
    0%   { /*opacity:0;*/ transform: translateY(-9%); }
    100% { /*opacity:1;*/ transform: translateY(0);   }
  }
  

.ResListShow{
    opacity : 0;
}

.Response{
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
   
}



.Response .Prompt{
    display: flex;

}

.Response .Prompt p:first-child{
font-weight: 600;
flex-basis: 12%;
}


.Response .Prompt p:not(first-child){
    flex-basis: 88%;
    }
.Response .Response-text{
    display: flex;
   
}

.Response .Response-text p:first-child{
   font-weight: 600;
   flex-basis: 12%;
}

.Response .Response-text p:not(first-child){
    flex-basis: 88%;
 }

 .Response:hover .close-response{
  opacity: 1;
 }

.Response .close-response{
   opacity: 0.3;
   position: absolute;
   right: 0;
   top: 0;
   z-index: 2;
   cursor: pointer;
   padding: 1rem;
   
   /* background-color: #6200ee; */
 }

 .Response .close-response > svg{
   fill: rgb(96, 106, 115);
 }